/* cart.css */

/* Estilos gerais */
body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    margin-top: 20px;
}

.div_bt_sair {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}

.botao_sair {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.seta_sair {
    width: 30px;
    height: 30px;
}

#cart-items {
    width: 90%;
    max-width: 800px; /* Limita a largura máxima para melhor legibilidade */
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item p {
    margin: 0;
}

.cart-item button {
    background-color: #B1131F;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.finalize-order {
    width: 90%;
    max-width: 400px;
    height: 68px;
    border: none;
    border-radius: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    background-color: #B1131F;
    color: white;
    cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    #cart-items {
        width: 100%;
    }
}

/* Estilos para telas maiores */
@media (min-width: 1024px) {
    body {
        justify-content: center;
    }

    form {
        width: 40%;
    }
}
