
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h2{
    display: flex;
    justify-content:center;
    color: black;
}
form {
    width: 380px;
    background-color: transparent;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form div  {
    margin: 20px;
    display: flex;
    justify-content: center;
}

label {
    justify-content: center;
    font-weight: bold;
    text-align:center;
    margin-top: 24px;
    color: white;
}


button {
    width: 214px;
    height: 68px;
    border: none;
    border-radius: 40px;
    font-family:'Times New Roman', Times, serif;
    font-size:large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    background-color:#B1131F;
    color: black;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
}

.botao_sair {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.seta_sair {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: left;
}
.div_bt_sair {
width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}




.div_prat_e_peti{
    border: solid red; /* Borda vermelha sólida por padrão */
    border-width: 1px; /* Linha fina */
    border-radius: 10px;   
}


/* Responsivo para telas menores que 720px */
@media screen and (max-width: 720px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    form {
        width: 300px;
    }


    button {
        width: 180px;
        height: 60px;
        font-size: medium;
    }

    label {
        font-size: 16px;
        margin-top: 20px;
    }
}

/* Responsivo para telas menores que 400px */
@media screen and (max-width: 400px) {
    form {
        width: 260px;
    }


    
}

/* Estilos responsivos */
@media (max-width: 768px) {
    form {
        width: 100%;
    }

}


/* Estilos para telas maiores */
@media (min-width: 1024px) {
    form {
        width: 40%;
    }

}

