<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Tela_TCC_Users/menu_petiscos/menu_pratos_petiscos.css">
    <link rel="stylesheet" href="../../public/css/dish-and-snack.css">
    <link rel="shortcut icon" type="menu.ico" href="/Tela TCC/Imagens_tcc/logo icone comida e bebida.png" />
    <title>Pratos e petiscos</title>
</head>

<body>
    <form action="#">
        <div class="div_prat_e_peti">
            <h2>Pratos e petiscos</h2>
        </div>
        <div>
            <section>
                <button class="botao_pizzas">
                    <label class="pizza" for="pizza">Pizzas</label>
                </button>
                <button class="botao_porcoes">
                    <label class="porcoes" for="porcoes">Porções</label>
                </button>
                <button class="botao_refeicoes">
                    <label class="refeicoes" for="refeicoes">Refeições</label>
                </button>
                <button class="botao_lanches">
                    <label class="lanches" for="lanches">Lanches</label>
                </button>
                <button class="botao_doces">
                    <label class="doces e sobremesas" for="doces">Doces e Sobremesas</label>
                </button>

            </section>
        </div>    
    </form>
</body>

</html>