<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/list-product-adm.css">
    <link rel="shortcut icon" type="menu.ico" href="/imgs/icone-de-menu.ico" />
    <title>Lista de Produtos</title>
</head>
<body>
    <form id="formulario">
        <div>
            <button type="button" class="botao_sair" id="botao_sair">
                <img class="seta_sair" id="seta_sair" src="/imgs/Voltar.png">
            </button>
        </div>
        
        <h3>Menu produtos</h3>
        <div class="adc_mesas" id="adc_mesas">
            <button type="button" class="botao_adc_mesas" id="botao_adc_mesas">
                <img class="img_adc_mesa" id="img_adc_mesa" src="/imgs/adicionar.png" />
                <label class="txt_adicionar_mesas" for="mesas">Adicionar produto(s)</label>
            </button>
        </div>
        <div>
            <h4> Lista de produtos</h4>
            <table id="tabela_produtos">
                <thead>
                    <tr>
                        <th>IMG</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Products will be dynamically inserted here -->
                </tbody>
            </table>
        </div>
    </form>

    <script src="/js/list-products.js"></script>
</body>
</html>
