<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/menu-commands.css">
    
</head>

<body>
    <div class="number_table">
        <h2>Comanda n°: <%= idTable %></h2>
    </div>
    <section class="grid-command-section">
        <div class="grid-command item">
            <h3>Itens</h3>
            <h3>Valor</h3>
        </div>
        <div class="list-orders">
            <% if (Array.isArray(orders) && orders.length > 0) { %>
                <% orders.map(order => { %>
                    <ul class="grid-command price">
                        <li class="li snack"><%= order.titleProduct %></li>
                        <li class="li price">
                            <% if (order.price !== undefined) { %>
                                R$:<%= order.price.toFixed(2) %>
                            <% } else { %>
                                Preço não disponível
                            <% } %>
                        </li>
                    </ul>
                <% }) %>
            <% } else { %>
                <p>Nenhum pedido encontrado.</p>
            <% } %>
        </div>
    </section>
    <button onclick="location.href='/<%= idTable %>/'">Retornar</button>
</body>

</html>
