<!-- menu-commands.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu-commands.css">
</head>
<body>
    <div class="number_table">
        <h2>Comanda n° <%= idTable %></h2>
    </div>
    <section class="grid-command-section">
        <div class="grid-command">
            <h3>Quantidade</h3>
            <h3>Produtos</h3>
            <h3>Preço <br> (unidade)</h3>   
        </div>
        <div class="list-orders">
            <% if (Array.isArray(orders) && orders.length > 0) { %>
                <% orders.forEach(order => { %>
                    <ul class="grid-command">
                        <li class="quantity"><%= order.quantity %></li>
                        <li class="snack"><%= order.titleProduct %></li>
                        <li class="price">R$ <%= order.price.toFixed(2) %></li>
                    </ul>
                <% }) %>
            <% } else { %>
                <p>Nenhum pedido encontrado.</p>
            <% } %>
        </div>
    </section>
    <button type="button" id="retornarID">Retornar</button>
</body>
    <script>
        document.getElementById('retornarID').addEventListener('click',function(){
            history.back();
        })
    </script>
</html>
