<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/drinks.css">
</head>

<body>
    <form action="#">
        <div class="div_bebidas">
            <h2>Bebidas</h2>
        </div>
        <div>
            <section>
                <button class="botao_refrigerante">
                    <label class="refrigerantes" for="pizza">Refrigerantes</label>
                </button>
                <button class="botao_sucos">
                    <label class="sucos" for="sucos">Sucos</label>
                </button>
                <button class="botao_cervejas">
                    <label class="cervejas" for="cervejas">Cervejas</label>
                </button>
                <button class="botao_vinhos">
                    <label class="vinhos" for="vinhos">Vinhos</label>
                </button>
                <button class="botao_drinks">
                    <label class="drinks" for="doces">Drinks</label>
                </button>
            </section>
        </div>
    </form>
</body>

</html>